* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

:root {
    --dark-blue: #1D3557; 
    --medium-blue:#0079BF;
    --ligth-blue: #EEF9FF;
    --ice: #F9FFFF;
    --red: #D52550;
    --dark-red: #6A1328;
    --grey-blue: #B5BDC8;
    --black-blue: #0A121D;
    --grey: rgba(0, 0, 0, 0.5);
}

// tamanho da font desktop
h1 { 
    font-size: 64px;
    font-family: 'Lora', serif;
}

h2 {
    font-size: 48px;
    font-family: 'Lora', serif;
    color: var(--medium-blue);
}

h3 {
    font-size: 32px;
    font-family: 'Lora', serif;
}

a, h4 {
    font-size: 24px;
    font-family: 'Lora', serif;
}

h5 {
    font-size: 20px;
    font-family: 'Lora', serif;
}

li, p { 
    font-size: 20px;
    font-family: 'Merriweather', serif;
}


.header {     
    width: 100%;
    height: 60px;
    background-color: var(--dark-blue);
    padding-bottom: 5px var(--red);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 28px;
    gap: 40px;
    list-style: none;   
    position: fixed;
    top: 0;
}

nav ul li a {
    list-style: none;
    text-decoration: none;
    color: var(--ice);
}


ul {
    border-bottom: var(--red) 5px solid;
}

main { 
    background-color: var(--ligth-blue);
}

.cover { 
    width: 100%;
    height: 342px;
    object-fit: cover;
    margin-top: 136px;
}

.presentation h1 {
    color: var(--black-blue);
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 40px;
    font-size: 64px;
}

.presentation h2 {
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 56px;
    padding-top: 120px;
}

.project {
    display: flex;
    width: 90%;
    background-color: var(--ice); 
    margin: 48px 68px;
}

.project-photo {
    width: 415px;
    height: 486px;
}

.content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
    margin-left: 40px;
    font-family: 'Merriweather', serif;
}

.content, h3 {
    font-family: 'Lora', serif;
}

button {
    width: 150px;
    height: 50px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--ice);
    cursor: pointer;
}


#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    padding-top: 112px;
    width: 100%;
}

.monica-photo {
    width: 420px;
    height: 496px;
}

.content-about {
    display: flex;
    background-color: var(--ice); 
    align-items: center;
    gap: 20px;
    margin: 72px 72px 0; 
}

.content-about, p {
    padding-bottom: 20px;

}

#contact { 
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-top: 120px;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 208px;
    padding-bottom: 132px;
    list-style: none;
    margin-top: 64px;
    padding-bottom: 30%
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    background-color: var(--dark-blue);
    color: var(--ice);
    border-top: 5px var(--red);
}

.footer a { 
    text-decoration: none;
    color: var(--ice);
}

.modal {
    position: fixed;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out opacity 2.25s ease-in-out; 
}

.modal-content {
    background-color: var(--ice);
    padding: 16px 24px;
    width: 844px;
    height: 365px;
    border-radius: 8px;
}

.close { 
    float: right;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--ligth-blue);
    text-align: center;
    line-height: 32px;
    font-size: 38px;
    border-radius: 50px;
}


.showModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.e-mail { 
    width: 400px;
    border: none;
    font-size: 32px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 107px;
    color: var(--black-blue);
    background-color: var(--ice);
}

.copy { 
    margin: 34px 300px;
}


//pagina cor de papel

.contentCorDePapel { 
    margin: 0 64px;
}

.coverProject { 
    width: 100%;
    height: 369px;
    padding: 136px 120px 0 120px;
}

.titleProject {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 88px;
}

.summary {
    display: flex;
    gap: 110px;
    margin: 120px 30px 0;
}

.summary img {
    width: 580px;
}

.summary h3 {
    color: var(--dark-blue);
    margin-bottom: 42px;
}

.summary p { 
    color: var(--black-blue)
}

.summary h4 {
    color: var(--dark-blue);
    margin-bottom: 42px;
}

.summary h5 span {
    color: var(--medium-blue);
}

.summary ul {
    margin-left: 22px;
}

.challenge {
    display: flex;
    gap: 130px;
    margin: 120px 30px 0;
}

.challenge div {
    width: 587px;
}

.challenge div div {
    gap: 70px;
}

.challenge h3 {
    color: var(--dark-blue);
    margin-bottom: 42px;
}

.challenge h4 span {
    color: var(--medium-blue);
}

.challenge p { 
    color: var(--black-blue)
}

.spacing {
    margin-top: 70px
}

.color {
    border: 0.1px solid red;
    margin: 120px 30px;
}

.colorTwo {
    border: 0.1px solid red;
    margin: 120px 30px 0;
}

.list { 
    border: none;
}

.map {
    width: 95%;
    margin: 120px 30px 30px;
}

.generation {
    width: 587px;
    padding: 120px 30px 0;
}

.generation h3 {
    color: var(--dark-blue);
    margin-bottom: 24px;
}

.generation h4 {
    color: var(--dark-blue);
    margin-bottom: 24px;
}

.generationImage {
    width: 961px;
    height: 406px;
    margin: 120px 150px 0 150px ;
}


.groupIdeation {
    width: 1146px;
    height: 416px;
    margin: 120px 75px;
}

.ideation {
    width: 969px;
    height: 727px;
    margin: 0 150px 0 150px
}

.prototyping {
    width: 970px;
    height: 502px;
    margin: 120px 150px 120px 150px ;
}

.wireframe {
    width: 969px;
    height: 726px;
    margin: 120px 150px 0 150px ;
}

.flow {
    width: 969px;
    height: 1353px;
    margin: 120px 150px 0 150px ;
}

.colorsComponent {
    width: 1144px;
    height: 616px;
    margin: 120px 80px 0 80px ;
}

.typographyComponent {
    width: 1144px;
    height: 1487px;
    margin: 120px 80px 0 80px;
}


.component {
    width: 1144px;
    height: 1429px;
    margin: 120px 80px 0 80px;
}



//projeto carfafy 
.contentCartafy { 
    margin: 0 30px;
}

.contentCartafy img {
    width: 95%;
    margin: 0px 30px 0 30px ;
}

.summaryCartafy {
    display: flex;
    gap: 100px;
    margin: 120px 30px 0;
}

.summaryCartafy div {
    width: 587px;
}

.summaryCartafy h3 {
    color: var(--dark-blue);
    margin-bottom: 24px
}

.summaryCartafy p {
    margin-bottom: 88px
}

.titleCartafy {
    margin: 120px 30px 0;
    color: var(--dark-blue);
}

.titleCartafy h3 {
    margin-bottom: 120px 
}

.coverCartafy { 
    width: 100%;
    height: 369px;
    padding: 136px 90px 0 90px;

}


// tamanho da font mobile
@media (max-width: 768px) { 
    h1 { 
        font-size: 64px;
        font-family: 'Lora', serif;
    }
    
    h2 {
        font-size: 32px;
        font-family: 'Lora', serif;
    }
    
    h3 {
        font-size: 24px;
        font-family: 'Lora', serif;
    }
    
    a, h4 {
        font-size: 20px;
        font-family: 'Lora', serif;
    }
    
    h5 {
        font-size: 16px;
        font-family: 'Lora', serif;
    } 

    p { 
        font-size: 16px;
        font-family: 'Merriweather', serif;
    }



    .project {
        flex-direction: column;
    }
}

