* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
}

:root {
    --dark-blue: #1D3557; 
    --medium-blue:#0079BF;
    --ligth-blue: #EEF9FF;
    --ice: #F9FFFF;
    --red: #D52550;
    --dark-red: #6A1328;
    --grey-blue: #B5BDC8;
    --black-blue: #0A121D;
    --grey: rgba(0, 0, 0, 0.5);
}

// tamanho da font desktop
h1 { 
    font-size: 74px;
    font-family: 'Lora', serif;
}

h2 {
    font-size: 48px;
    font-family: 'Lora', serif;
    color: var(--medium-blue);
}

h3 {
    font-size: 32px;
    font-family: 'Lora', serif;
}

a, h4 {
    font-size: 24px;
    font-family: 'Lora', serif;
}

h5 {
    font-size: 20px;
    font-family: 'Lora', serif;
}

li, p { 
    font-size: 20px;
    font-family: 'Merriweather', serif;
}

header { 
    background-color: var(--dark-blue);
    position: fixed;
    width: 100%;
}

li { 
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--ice);
}

.navBar { 
    min-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px;
}

.navMenu {  
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
}   


.hamburger {
    display: none;
    cursor: pointer;
}


.bar { 
    display: block;
    width: 25px;
    height: 3px; 
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: var(--ice)
}

.navBar {
    border-bottom: var(--red) 5px solid;
}


main { 
    background-color: var(--ligth-blue);
}

.cover { 
    width: 100%;
    height: 342px;
    object-fit: cover;
    margin-top: 136px;
}

.presentation h1 {
    color: var(--black-blue);
    display: flex;
    justify-content: center;
    margin-top: 64px;
    margin-bottom: 40px;
    font-size: 64px;
}

.presentation h2 {
    color: var(--dark-blue);
    display: flex;
    justify-content: center;
}

.title {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-bottom: 56px;
    padding-top: 120px;
}

.titleMobile {
    display: none;
}

.project {
    display: flex;
    width: 90%;
    background-color: var(--ice); 
    margin: 48px 68px;
}

.project-photo {
    width: 415px;
    height: 486px;
}

.hide { 
    display: none; 
}

.content {
    display: flex;
    flex-direction: column;
    gap: 56px;
    justify-content: center;
    margin-left: 40px;
    font-family: 'Merriweather', serif;
}

.content, h3 {
    font-family: 'Lora', serif;
}

button {
    width: 150px;
    height: 50px;
    font-family: 'Merriweather', serif;
    font-size: 20px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    background-color: var(--red);
    color: var(--ice);
    cursor: pointer;
}


#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    padding-top: 112px;
    width: 100%;
}

.monica-photo {
    width: 420px;
    height: 496px;
}

.content-about {
    display: flex;
    background-color: var(--ice); 
    align-items: center;
    gap: 20px;
    margin: 72px 72px 0; 
}

.content-about, p {
    padding-bottom: 20px;

}

#contact { 
    display: flex;
    justify-content: center;
    text-decoration: underline;
    padding-top: 120px;
}

.logo {

    display: flex;
    justify-content: center;
    gap: 206px;
    margin-top: 64px ;
    padding-bottom: 30%;
}

.logo img { 
    width: 68px;
}

.footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 60px;
    padding-top: 20px;
    background-color: var(--dark-blue);
    color: var(--ice);
    border-top: 5px var(--red);
    flex-direction: row;

}

.footer a { 
    text-decoration: none;
    color: var(--ice);
    font-size: 20px;
}

.modal {
    position: fixed;
    padding: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey);
    transform: scale(1.1);
    opacity: 0;
    visibility: hidden;
    transition: visibility 0.25s ease-in-out, transform 0.25s ease-in-out opacity 2.25s ease-in-out; 
}

.modal-content {
    background-color: var(--ice);
    padding: 16px 24px;
    width: 844px;
    height: 365px;
    border-radius: 8px;
}

.close { 
    float: right;
    width: 32px;
    height: 32px;
    cursor: pointer;
    background-color: var(--ligth-blue);
    text-align: center;
    line-height: 32px;
    font-size: 38px;
    border-radius: 50px;
}


.showModal {
    opacity: 1;
    visibility: visible;
    transform: scale(1.0);
}

.e-mail { 
    width: 400px;
    border: none;
    font-size: 32px;
    font-weight: bold;
    margin-left: 200px;
    margin-top: 107px;
    color: var(--black-blue);
    background-color: var(--ice);
}

.copy { 
    margin: 34px 300px;
}


//pagina cor de papel

.contentCorDePapel { 
    margin: 0 64px;
}

.coverProject { 
    width: 100%;
    padding: 136px 120px 0 120px;
}

.titleProject {
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 88px;
}

.summary {
    display: flex;
    gap: 110px;
    margin: 120px 30px 0;
}

.summary img {
    width: 580px;
}

.summary h3 {
    color: var(--dark-blue);
    margin-bottom: 42px;
}

.summary p { 
    color: var(--black-blue)
}

.summary h4 {
    color: var(--dark-blue);
    margin-bottom: 42px;
}

.summary h5 span {
    color: var(--medium-blue);
}

.summary ul {
    margin-left: 22px;
}

.challenge {
    display: flex;
    gap: 130px;
    margin: 120px 30px 0;
}

.challenge div {
    width: 587px;
}

.challenge div div {
    gap: 70px;
}

.challenge h3 {
    color: var(--dark-blue);
    margin-bottom: 42px;
}

.challenge h4 span {
    color: var(--medium-blue);
}

.challenge p { 
    color: var(--black-blue)
}

.spacing {
    margin-top: 70px
}

.color {
    border: 0.1px solid red;
    margin: 120px 30px;
}

.colorTwo {
    border: 0.1px solid red;
    margin: 120px 30px 0;
}

.list { 
    border: none;
}

.map {
    width: 95%;
    margin: 120px 30px 30px;
}

.generation {
    width: 587px;
    padding: 120px 30px 0;
}

.generation h3 {
    color: var(--dark-blue);
    margin-bottom: 24px;
}

.generation h4 {
    color: var(--dark-blue);
    margin-bottom: 24px;
}

.generationImage {
    width: 961px;
    height: 406px;
    margin: 120px 150px 0 150px ;
}


.groupIdeation {
    width: 1146px;
    height: 416px;
    margin: 120px 75px;
}

.ideation {
    width: 969px;
    height: 727px;
    margin: 0 150px 0 150px
}

.prototyping {
    width: 970px;
    height: 502px;
    margin: 120px 150px 120px 150px ;
}

.wireframe {
    width: 969px;
    height: 726px;
    margin: 120px 150px 0 150px ;
}

.flow {
    width: 969px;
    height: 1353px;
    margin: 120px 150px 0 150px ;
}

iframe { 
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 800px;
    height: 450px;
    margin: 120px 250px;
}

.colorsComponent {
    width: 1144px;
    height: 616px;
    margin: 120px 80px 0 80px ;
}

.typographyComponent {
    width: 1144px;
    height: 1487px;
    margin: 120px 80px 0 80px;
}


.component {
    width: 1144px;
    height: 1429px;
    margin: 120px 80px 0 80px;
}



//projeto carfafy 
.contentCartafy { 
    margin: 0 30px;
}

.contentCartafy img {
    width: 95%;
    margin: 0px 30px 0 30px ;
}

.summaryCartafy {
    display: flex;
    gap: 100px;
    margin: 120px 30px 0;
}

.summaryCartafy div {
    width: 587px;
}

.summaryCartafy h3 {
    color: var(--dark-blue);
    margin-bottom: 24px
}

.summaryCartafy p {
    margin-bottom: 88px
}

.titleCartafy {
    margin: 120px 30px 0;
    color: var(--dark-blue);
}

.titleCartafy h3 {
    margin-bottom: 120px 
}

.coverCartafy { 
    width: 100%;
    padding: 136px 90px 0 90px;
}

.border { 
    border: 3px solid var(--red);
}


@media only screen and (max-width: 600px) {
    h1 { 
        font-size: 24px;
        font-family: 'Lora', serif;
    }
    
    h2 {
        font-size: 20px;
        font-family: 'Lora', serif;
    }
    
    h3 {
        font-size: 20px;
        font-family: 'Lora', serif;
    }
    
    h4 {
        font-size: 20px;
        font-family: 'Lora', serif;
    }

    a {
        font-size: 24px;
        font-family: 'Lora', serif;
    }
    
    h5 {
        font-size: 16px;
        font-family: 'Lora', serif;
    } 

    p { 
        font-size: 16px;
        font-family: 'Merriweather', serif;
    }

    li, p { 
        font-size: 16px;
        font-family: 'Merriweather', serif;
    }

    .hamburger {
        display: block;
        position:fixed;
        right: 20px
    }

    .hamburger.active {
        color: var(--grey-blue);
    }

    .hamburger.active .bar:nth-child(2) {   
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(1) { 
        transform: translateY(8px) rotate(45deg);
        color: var(--grey-blue);
    }

    .hamburger.active .bar:nth-child(3) { 
        transform: translateY(-8px) rotate(-45deg);
        color: var(--grey-blue);
    }

    .navMenu { 
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 20px;
        flex-direction: column;
        background-color: var(--ligth-blue);
        width: 100%;
        height: 100%;
        text-align: center;
        transition:0.3s;
    }
    .navItem {
        margin: 16px 0;
    }

    .navMenu.active { 
        left: 0;
    }

    .navLink { 
        color: var(--dark-blue);
    }

    .cover { 
        width: 95%;
        height: 80px;
        object-fit: cover;
        margin: 104px 10px 0;
    }

    .presentation h1 {
        font-size: 24px;
    }
    .project {
        flex-direction: column;
        margin: 0;
        padding: 16px
    }

    .project {
        display: flex;
        width: 100%;
        background-color: var(--ice); 
    }

    .hide { 
        display: block; 
        color: var(--medium-blue); 
    }

    .titleMobile {
        display: block;
        padding: 16px;
    }

    .titleDesktop {
        display: none;
    }

    .title {
        padding: 50px 0 20px;
        margin-bottom: 40px;
    }

    .project-photo {
        width: 328px;
        height: 281px;
    }

    .content {
        margin: 24px 0;
        gap: 20px;
    } 

    button {
        margin-left: 90px;
    }

    #about {
        padding-top: 50px;
        margin-bottom: 50px;
        width: 100%;
    }

    .content-about {
        width: 100%;
        flex-direction: column;
        margin: 0; 
        padding: 24px 16px 40px;
    }

    .monica-photo {
        width: 248px;
        height: 281px;
    }

    #contact { 

        padding-top: 70px;
    }

    .logo {
        gap: 48px;
        margin-top: 40px;
        padding-bottom: 120%;
    }

    .logo img { 
        width: 48px;
    }


    .footer {
        flex-direction: column;
        height: 80px;
        padding: 16px ;
        border-top: 5px var(--red);
    }

    .footer a {
        font-size: 16px;   
    }

    .modal-content {
        width: 300px;
        height: 600px;
    }
    
    .e-mail { 
        margin: 180px 0 60px;
        font-size: 20px;
        width: 270px;
    }

    .close { 
        margin: 20px 3px 0;
    }

    .copy { 
        margin: 0 50px 0;
    }


    //pagina de cor de papel 

    .contentCorDePapel { 
        margin: 0;
    }

    .coverProject { 
        padding: 104px 20px 0 20px;
    }

    .titleProject {
        margin-top: 40px;
    }

    .summary {
        flex-direction: column;
        gap: 30px;
        margin: 42px 16px 0; 
    }

    .summary img {
        width: 328px;
    }

    .challenge {
        flex-direction: column;
        gap: 30px;
        margin: 42px 16px 0;
    }

    .challenge div {
        width: 328px;
    }

    .challenge div div {
        gap: 0;
    }

    .challenge h3 {
        margin-bottom: 30px;
    }

    .spacing {
        margin-top: 30px
    }

    .color {
        margin: 40px 16px;
    }

    .map {
        width: 90%;
        margin: 40px 16px 0;
    }

    .phone { 
        width: 248px;
    }

    .generation {
        width: 328px;
        padding: 40px 16px 0;
    }

    .generation h3 {
        margin-bottom: 40px;
    }
    
    .generation h4 {
        margin-bottom: 40px;
    }
    
    .generationImage {
        width: 328px;
        height: 139px;
        margin: 40px 0 0;
    }

    .groupIdeation {
        width: 328px;
        height: 119px;
        margin: 40px 0px;
    }

    .ideation {
        width: 328px;
        height: 246px;
        margin: 0px 0px;
    }

    .prototyping {
        width: 328px;
        height: 170px;
        margin: 40px 0 ;
    }

    .wireframe {
        width: 328px;
        height: 246px;
        margin: 40px 0 0;
    }

    .flow {
        width: 328px;
        height: 456px;
        margin: 40px 0 0;
    }

    iframe { 
        border: 1px solid rgba(0, 0, 0, 0.1);
        width: 328px;
        height: 297px;
        margin: 40px 0;
    }

    .colorsComponent {
        width: 328px;
        height: 177px;
        margin: 40px 0 ;
    }

    .typographyComponent { 
        width: 328px;
        height: 427px; 
        margin: 0 0 40px;
    }

    .component { 
        width: 328px;
        height: 410px; 
        margin: 0;
    }

    .colorTwo {
        margin: 0 16px;
    }




    //projeto cartafy

    .contentCartafy { 
        margin: 0;
    }

    .contentCartafy img {
        width: 328px;
        margin: 40px 16px 0;
    }

    .coverCartafy { 
        padding: 50px 20px 0 20px;
    }

    .summaryCartafy {
        flex-direction: column;
        gap: 0;
        margin: 0;
    }

    .summaryCartafy div {
        width: 328px;

    }

    .summaryCartafy p {
        margin-bottom: 40px;
        margin: 0 16px;
    }
    
    .summaryCartafy h3 {
        margin: 40px 16px 24px 16px;
    }

    .titleCartafy {
        margin: 40px 16px 0;
    }

    .titleCartafy h3 {
        margin-bottom: 40px;  
    } 


    .titleCartafy img {
        margin: 0;  
    }
    /* 


    

    

    
}
    
    .coverCartafy { 
        width: 100%;
        padding: 136px 90px 0 90px;
    } */
}

